<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

    <link href="css/open-iconic-bootstrap.min.css" rel="stylesheet">

    <title>Cars - Exemplo APIs - VUE.JS | AXIOS</title>
    <style>
        .ponteiro {cursor:pointer;}
    </style>
    <script>
        var vApp;
        function createVueCars() {
            vApp = new Vue({
                el: '#app',
                data() {
                    return {
                        cars: null
                    }
                },
                methods: {
                    obter: function () {
                        axios.get('http://localhost:8001/cars').then(response => (this.cars = response.data))
                    },
                    novo: function (data) {
                        axios.post('http://localhost:8001/cars', data).then(response => (this.obter())).catch(error => {
                            novoCarroError(error);
                        });
                    },
                    eliminar: function (id) {
                        axios.delete('http://localhost:8001/cars/' + id).then(response => (this.obter()))
                    },
                    alterar: function (id, data) {
                        axios.put('http://localhost:8001/cars/' + id, data).then(response => (this.obter())).catch(error => {
                        	updateCarError(error);
                        });
                    },
                }
            })

        }

        function novoCarro() {

            $("#novoCarro").modal('show');
        }

        function saveCar() {
            var car = {}
            car.carId = parseInt($("#txtCarId").val());
            car.model = $("#txtModel").val()
            car.year = parseInt($("#txtYear").val());
            vApp.novo(car);
            $("#novoCarro").modal('hide');

        }

        function novoCarroError(err) {
            console.log(err.response.status);
            if (err.response.status == 409) {
                $("#msgAlerta").text("Carro já cadastrado.");

            } else {
                $("#msgAlerta").text("Erro chamada função:" + err.response.status);
            }
            $("#divAlerta").addClass("show");
        }

        function deleteCar(obj) {
            var i = parseInt(obj.dataset.deleteId);
            console.log(vApp.cars[i]);
            // prepara modal de confirmação
            $("#txtCarId_delete").val(vApp.cars[i].carId);
            $("#txtModel_delete").val(vApp.cars[i].model);
            $("#deleteCarModal").modal('show');

        }

        function deleteCarConfirm() {

            vApp.eliminar($("#txtCarId_delete").val());

            $("#deleteCarModal").modal('hide');
        }

        function updateCar(obj) {
            var i = parseInt(obj.dataset.updateId);
            console.log(vApp.cars[i]);
            // prepara modal de alteração
            $("#txtCarId_update").val(vApp.cars[i].carId);
            $("#txtModel_update").val(vApp.cars[i].model);
            $("#txtYear_update").val(vApp.cars[i].year);

            $("#updateCarModal").modal('show');

        }

        function updateCarConfirm() {

            var car = {}
            car.carId = parseInt($("#txtCarId_update").val());
            car.model = $("#txtModel_update").val()
            car.year = parseInt($("#txtYear_update").val());

            vApp.alterar($("#txtCarId_update").val(), car);

            $("#updateCarModal").modal('hide');
        }
        
        function updateCarError(err) {
            console.log(err.response.status);
            if (err.response.status == 204) {
                $("#msgAlerta").text("Carro não cadastrado.");

            } else {
                $("#msgAlerta").text("Erro chamada função:" + err.response.status);
            }
            $("#divAlerta").addClass("show");
        }

    </script>

</head>
<body>
    <div class="container" id="app">

        <h1>Cars - VUE | AXIOS</h1>
        <div id="divAlerta" class="alert alert-warning alert-dismissible fade" role="alert">
            <span id="msgAlerta"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Ano</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(car, index) in cars">
                    <td><span onclick="updateCar(this);" class="oi oi-pencil ponteiro" v-bind:data-update-id="index" aria-hidden="true"></span></td>
                    <td><span onclick="deleteCar(this);" class="oi oi-trash ponteiro" v-bind:data-delete-id="index" aria-hidden="true"></span></td>

                    <td>{{ car.carId }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.year }}</td>
                </tr>

            </tbody>
        </table>

        <button class="btn btn-primary" onclick="vApp.obter();">Obter Carros</button>

        <button class="btn btn-primary" onclick="novoCarro()">Novo Carro</button>

        <!-- modal novo carro -->
        <div id="novoCarro" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Novo Carro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="txtCarId">Código</label>
                            <input type="number" class="form-control" id="txtCarId" />

                        </div>
                        <div class="form-group">
                            <label for="txtModel">Modelo</label>
                            <input type="text" class="form-control" id="txtModel" placeholder="modelo">
                        </div>
                        <div class="form-group">
                            <label for="txtYear">Ano</label>
                            <input type="number" class="form-control" id="txtYear" />

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="saveCar();">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal alterar carro -->
        <div id="updateCarModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Alterar Carro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="txtCarId_update">Código</label>
                            <input type="number" class="form-control" id="txtCarId_update" readonly="readOnly" />

                        </div>
                        <div class="form-group">
                            <label for="txtModel_update">Modelo</label>
                            <input type="text" class="form-control" id="txtModel_update" placeholder="modelo">
                        </div>
                        <div class="form-group">
                            <label for="txtYear_update">Ano</label>
                            <input type="number" class="form-control" id="txtYear_update" />

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="updateCarConfirm();">Alterar</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="deleteCarModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Eliminar Carro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="txtCarId_delete">Código</label>
                            <input type="number" class="form-control" id="txtCarId_delete" readonly="readOnly" />

                        </div>
                        <div class="form-group">
                            <label for="txtModel_delete">Modelo</label>
                            <input type="text" class="form-control" id="txtModel_delete" placeholder="modelo" readonly="readOnly" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="deleteCarConfirm();">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>createVueCars();</script>
</body>
</html>
