<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Cars - Exemplo GET - VUE.JS | AXIOS</title>

    <script>

        function getCars() {
            app.refreshCars();
        }

        function insertCar() {
            var car = {}
            car.model = $("#modelo").val();
            car.year = parseInt($("#ano").val());
            app.newCar(car);

            $('#modalCar').modal('hide')
        }
    </script>

</head>
<body>
    <div class="container" id="app">

        <h1>Cars - VUE | AXIOS</h1>

        <div class="row" v-for="car in cars">
            <div class="col-sm">
                <span class="badge badge-primary">{{ car.carId }}</span>
            </div>
            <div class="col-sm">
                {{ car.model }}
            </div>
            <div class="col-sm">
                <span v-html="car.year" class="badge badge-secondary"></span>

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-primary" onclick="getCars()">Obter Carros</button>
            </div>
            <div class="col-sm">
                <button class="btn btn-success" onclick="$('#modalCar').modal();">Novo Carro</button>
            </div>
        </div>

        <div id="modalCar" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Novo carro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="codigo">Código</label>
                            <input type="text" class="form-control" disabled="disabled"  id="codigo" placeholder="informe ID">
                        </div>

                        <div class="form-group">
                            <label for="modelo">Modelo</label>
                            <input type="text" class="form-control" id="modelo" placeholder="informe modelo">
                        </div>

                         <div class="form-group">
                            <label for="ano">Ano</label>
                            <input type="text" class="form-control" id="ano" placeholder="informe ano">
                        </div>
                      
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="insertCar();">Salvar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    cars: null
                }
            },
            mounted() {
                axios.get('http://localhost:8001/cars').then(response => (this.cars = response.data))
            },
            methods: {
                refreshCars: function () {
                    axios.get('http://localhost:8001/cars').then(response => (this.cars = response.data))
                },
                newCar: function (car) {
                    console.log(car);
                    axios.post('http://localhost:8001/cars', car).then(function (response) {
                        console.log(response);
                        app.refreshCars();
                    })
                        .catch(function (error) {
                            console.log(error);
                        });
                    
                }
            }
        })

    </script>
</body>
</html>
