<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Insert title here</title>
    <script>
        function getCars() {
            var data = null;

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
                if (this.readyState === 4) {
                    console.log(this.responseText);
                    apresentar(this.responseText);

                }
            });

            xhr.open("GET", "http://localhost:8001/cars");
            xhr.setRequestHeader("cache-control", "no-cache");
            xhr.setRequestHeader("Postman-Token", "96853dc8-2a1a-4d88-afb0-8b705cde3ae3");

            xhr.send(data);
        }

        function apresentar(dataJson) {
            data = JSON.parse(dataJson);
            console.log(data)
            var HTMLC = "";
            HTMLC += '<table class="table"><thead><tr><th scope="col">#</th><th scope="col">Modelo</th><th scope="col">Ano</th></tr></thead>';
            HTMLC += '<tbody>';
            for (i = 0; i < data.length; i++) {
                HTMLC += '<tr>';
                HTMLC += '<td>' + data[i].carId + '</td>';
                HTMLC += '<td>' + data[i].model + '</td>';
                HTMLC += '<td>' + data[i].year + '</td>';
                HTMLC += '</tr>';
            }
            HTMLC += '</tbody></table>';
            console.log(HTMLC);

            document.getElementById("resultado").innerHTML = HTMLC;
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>API GET</h1>
        <br />
        <button class="btn btn-primary" onclick="getCars()">Obter Carros</button>
        <br />
        <div id="resultado"></div>
    </div>
</body>
</html>
